table,th,td {
    border-style: solid;
    border-collapse: collapse;
    margin: auto;
  }
  th{

    background-color:darksalmon;
  }
   td {
    padding: 15px; 
    text-align: center; 
  }
  h1 {
    text-align: center;
  }
button{
    margin-left: 50px;
}

  