<div class="container">
    <table class="table table-bordered" border="5px" width=50%>

        
            <thead>
                <tr>
                <th>Song name</th>
                <th>Singer</th>
                </tr>
            </thead>    
            <tbody class="table-light">    
                <tr>
                    <td colspan=" 2">
                    <router-outlet></router-outlet>
                    </td> 
                </tr>
                <tr>
                    <td colspan="2"><button routerLink="app-new-song" type="submit" onclick="newSong" >ADD NEW SONG</button></td>
                </tr>
            </tbody>
      
    </table>    
         
    </div>  