<p>new-song works!</p>

<div class="container">
    <table class="table table-bordered" border="5px" width=50%>

        <thead>
            <tr>
            <th>Song name</th>
            <th>Singer</th>
            </tr>
        </thead>
            <tbody class="table-light">

                <tr >
                    <td><input type="text" name="songName"></td>
                    <td><input type="text" name="singer"></td>
                    <td><button type="submit" value="ADD"></button></td>
                </tr>
            </tbody>
      
    </table>
</div>